---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About - thethongngu" activeNav="about">
  <section
    class="mt-8 bg-github-code-bg rounded-md p-6 border border-github-secondary"
  >
    <p>Vibe bug creator</p>
  </section>
</BaseLayout>
