---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About - thethongngu" activeNav="about">
  <section class="mt-8 bg-gray-50 rounded-md p-6 border border-gray-300">
    <p>Vibe bug creator</p>
  </section>
</BaseLayout>
