---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="thethongngu">
  <section
    class="mt-8 bg-github-code-bg rounded-md p-6 border border-github-secondary"
  >
    <p>
      Welcome to my personal space on the internet. Check out the navigation
      above to explore what I'm up to.
    </p>
  </section>
</BaseLayout>
