---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects - thethongngu" activeNav="projects">
  <section
    class="mt-8 bg-github-code-bg rounded-md p-6 border border-github-secondary"
  >
    <div class="projects-grid">
      <p>Nothing (for now)</p>
      <!-- Future projects can be added here
      <div class="card">
        <h3>Project One</h3>
        <p>A fun little tool for XYZ.</p>
      </div>
      <div class="card">
        <h3>Project Two</h3>
        <p>A small experiment in ABC.</p>
      </div>
      -->
    </div>
  </section>
</BaseLayout>
