---
import "../../styles/global.css";
import BitflagInspector from "../../components/BitflagInspector";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bitflag Inspector - thethongngu</title>
    <link rel="icon" type="image/jpeg" href="/assets/icon.jpeg" />
  </head>
  <body class="font-mono">
    <BitflagInspector client:load />
  </body>
</html>
