---
import "../../styles/global.css";
import SortingVisualizer from "../../components/SortingVisualizer";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sorting Visualizer - thethongngu</title>
    <link rel="icon" type="image/jpeg" href="/assets/icon.jpeg" />
  </head>
  <body class="font-mono">
    <SortingVisualizer client:load />
  </body>
</html>
